@charset "UTF-8";
/* CSS Document */

/*BODY*/
#banner{
	clip-path: ellipse(100% 93% at 50% 0%);
	margin-bottom: 20px;
	padding: 0px;
}
.carousel-indicators li{
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #D9B26E;
	margin-bottom: 90px;
}
.carousel-caption h2{
	color: #E1A131;
	margin-bottom: 110px;
	font-family: semibold;
	font-size: 50px;
}
#lbanner .video{
	height: 400px;
	object-fit: contain;
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	border-left: solid 3pt #654635;
	margin-top: 150px;
}
#llbaner{
	background-color: #9C563E;
	height: 700px;
	margin-top: 150px;
	margin-bottom: 85px;
}
#linebanner{
	height: 40px;
	margin-left: 50px;
}
.petbanner p{
	font-size: 36pt;
	color: whitesmoke;
	font-family: semibold;
	margin-top: 150px;
}
.petbanner a{
	color: whitesmoke;
	height: 50px;
	width: 100px;
}

.dog{
	height: 350px;
	background-color: #FCE7C2;
	border-radius: 40px;
	margin-bottom: 100px;
}
#dog1, #bunny1, #cat1 {
	height: 400px;
	margin: 0 auto;
	display: block;
}
.seemore a{
	color: #654635;
	text-decoration: none;
}
.seemore a:hover{
	color: #141414;
}

#deli{
	margin: 0 auto;
	display: block;
}
.promiss{
	margin-bottom: 70px;
}
.promiss h2, .toprate h2{
	font-family: semibold;
	color: #654635;
}
.promiss p{
	font-size: 24px;
	margin-top: 10px;
}
/* OUR STORY */
#bgpetcare{
	height: 620px;
	background-color: #FBF2E3;
	margin-top: 100px;
}
#pic1{
	height: 500px;
	margin-top: 30px;
	padding-left: 10px;
}
#pic2 {
	height: 200px;
	margin-top: 40px;
}
#pic3{
	padding-top: 0px;
	height: 200px;
}
.pic h4{
	font-size: 16pt;
	text-align: left;
	margin-top: 10px;
}
.pic p{
	font-size: 12pt;
	margin-top: 5px;
}
.pic1 h4{
	font-size: 40pt;
	margin-top: 80px;
	color: #654635;
	text-align: center;
	font-family: semibold;
}
#imgpic1{
	height: 50px;
	margin-top: 30px;
	margin-left: 100px;
}
/*===*/
#img1, #img2, #img3{
	height: 200px;
	border-radius: 90px;
	width: 100%;
	margin: 0 auto;
	display: block;
}
.imgs p{
	text-align: center;
	color: #141414;
	margin-top: 5px;
	font-size: 20pt;
}
.dog p{
	color:#9C563E;
	font-size: 16pt;
}
/*==TOPRATE+=*/

.toprate{
	height: 70px;
	margin-top: 100px;
}
.owl-carousel{
	width: auto!important;
} 	
.owl-carousel h3{
	font-family: semibold;
	font-size: 26pt;
	color: #3D332C;
	text-align: left;
	margin-top: 10px;
}
.owl-carousel p{
	font-size: 20pt;
	color: #654635;
	text-align: left;
	margin-top: 10px;
}
/* EXTRA LARGE */
@media (min-width: 1200px){
	.imgs{
	height: 200px;
	margin-right: 10px;
	margin-bottom: 100px;
	}
}


/* LARGE */
@media (min-width: 992px) and (max-width: 1199px){
	.imgs{
	  height: 150px;
	  width: 10px;
	  border-radius: 100px;
	  margin-right: 10px;
	  margin-bottom: 100px;
	}
	.carousel-caption h2{
	font-size: 40px;
		margin-bottom: 70px;
	}
	.carousel-indicators li{
		margin-bottom: 50px;
	}
#img1, #img2, #img3{
	height: 150px;
	border-radius: 80px;
	}
	.seemore p{
		font-size: 15pt;
	}
	#lbanner{
		border-left: none;
	}
	#bgpetcare{
		height: 680px;
	}
}

/* MEDIUM */
@media (min-width: 768px) and (max-width: 991px){
	.imgs{
 	 height: 150px;
	 width: 10px;
	 border-radius: 100px;
	 margin-right: 10px;
	 margin-bottom: 80px;
	}
	.carousel-caption h2{
	font-size: 40px;
		margin-bottom: 35px;
	}
	.carousel-indicators li{
		margin-bottom: 20px;
	}
	#img1, #img2, #img3{
	height: 120px;
	border-radius: 70px;
	}
	.seemore p{
		font-size: 13pt;
		margin-top: 40px;
	}
	.dog{
	height: 300px;
	border-radius: 35px;
}
#dog1, #bunny1, #cat1 {
	height: 350px;
	}
	.petbanner p{
		font-size: 30pt;
		margin-top: 80px;
	}
	#lbanner .video{
		margin-top: 100px;
		border-left: solid 0pt #9C563E;
	}
	#llbaner{
		height: 600px;
		margin-bottom: 70px;
	}
	#bgpetcare{
		height: 550px;
	}
	#pic1{
	height: 350px;
	margin-top: 25px;
}
#pic2 {
	height: 150px;
	margin-top: 30px;
}
#pic3{
	height: 150px;
}
.pic1 h4{
	font-size: 36pt;
	margin-top: 70px;
	color: #654635;
	text-align: center;
	font-family: semibold;
}
	#imgpic1{
	height: 50px;
	margin-top: 20px;
	margin-left: 40px;
}
	
}

/* SMALL */
@media (min-width: 576px) and (max-width: 767px){
	.carousel-indicators li{
		margin-bottom: 5px;
		height: 10px;
		width: 10px;
	}
	#img1, #img2, #img3{
	height: 180px;
	border-radius: 90px;
	}
	.dog{
	height: 230px;
	border-radius: 30px;
		margin-top: 50px;
		margin-bottom: 70px;
}
#dog1, #bunny1, #cat1 {
	height: 270px;
	}
	.seemore p{
		font-size: 9pt;
		margin-top: 35px;
	}
	.petbanner p{
		font-size: 28pt;
		margin-top: 60px;
	}
	#lbanner .video{
		margin-top: 30px;
		border-left: solid 0pt #9C563E;
	}
	#llbaner{
		height: 700px;
		margin-bottom: 70px;
		margin-top: 120px;
	}
	#bgpetcare{
		height: 900px;
	}
.pic1 h4{
	font-size: 36pt;
	margin-top: 20px;
}
	#imgpic1{
	height: 50px;
	margin-top: 10px;
	margin-left: 200px;
}
}

/* EXTRA SMALL */
@media (max-width: 575px){
	.carousel-indicators li{
		margin-bottom: 3px;
	    height: 10px;
		width: 10px;
	}
	#img1, #img2, #img3{
	height: 140px;
	border-radius: 80px;
	}
	.dog{
	height: 175px;
	border-radius: 20px;
	margin-bottom: 60px;
		margin-top: 30px;
}
#dog1, #bunny1, #cat1 {
	height: 200px;
	}
	.seemore p{
		font-size: 7pt;
		margin-top: 30px;
	}
	.petbanner p{
		font-size: 26pt;
		margin-top: 60px;
	}
	#lbanner .video{
		margin-top: 0px;
		border-left: solid 0pt #9C563E;
	}
	#llbaner{
		height: 650px;
		margin-bottom: 60px;
		margin-top: 90px;
	}
	#bgpetcare{
		height: 750px;
	}
	#pic1{
	height: 300px;
	margin-top: 80px;
}
#pic2 {
	height: 150px;
	margin-top: 30px;
}
#pic3{
	height: 150px;
}
.pic1 h4{
	font-size: 30pt;
	margin-top: 20px;
}
	#imgpic1{
	height: 40px;
	margin-top: 10px;
	margin-left: 180px;
}
	.pic h4{
		font-size: 14pt;
	}
}
